{% extends 'base.html' %}

{% block title %}
Главная страница
 {% endblock %}

 {% block body%} 
 <div class="container">
 <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Джун</h4>
        </div>
        <div class="card-body">
          <img src="static\amiran.jpg" alt="" height="280px" width="300px">
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Мидл</h4>
        </div>
        <div class="card-body">
          <img src="static\rezvan.jpg" alt="" height="280px" width="300px">
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Сеньор</h4>
        </div>
        <div class="card-body">
          <img src="static\maso.jpg" alt="" height="280px" width="300px">
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>
</div>
 {% endblock %}